<h1>Welcome</h1>

<%if logged_in?%>
  <h1>You are Logged In, <%= current_user.username %></h1>
  <p>
    Download Account Manager: <%= link_to "Download", "file_manager/download_accountmanager", :method => :post%>
  </p>
<%end%>

<%= button_to "Login", '/login', method: :get%>

<%= button_to "Sign Up", '/signup', method: :get%>
