<footer class="footer">
  <small>
    <a href="root">Google On Fire</a>
    by <a href="https://github.com/hollyjrobertson/Google_on_Fire">Holly Robertson</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'contact' %></li>
    </ul>
  </nav>
</footer>