<footer class="footer">
  <small>
    <%= link_to "Google On Fire", root_path %>
    by <%= link_to "Holly Robertson", 'https://github.com/hollyjrobertson/Google_on_Fire', :target => "_blank" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>